@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;400;500;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}


/* Estilos de HR*/
hr.lines {
    opacity: 0.4;
    flex: none;
    order: 0;
    flex-grow: 0;
    border-top: 2px solid #3D2656;
    margin-top: 2%;
    width: 1110px;
    margin-left: 10%;
}

/* ESTILOS DEL HEADER*/


header {
    display: flex;
    flex-direction: row;
    padding-bottom: 2vw;
    border-bottom: #e5e9f2 solid 1px;
}

/* Divs Principales*/
div#Menusito {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 35px;
    padding-top: 1vw;
    padding-left: 3vw;
    width: 65%;
}

nav {
    display: flex;
    flex-wrap: wrap;
}

nav>ul>li {
    float: left;
    list-style: none;
    padding-right: 50px;
}

div#buttonsIR {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: right;
    padding-top: 1vw;
    padding-right: 1vw;
    width: 35%;
}

.button {
    padding: 10px 20px;
    margin-right: 10px;
    border-radius: 5px;
    border-style: none;
}

button.iniciar {
    background-color: #DBF0E6;
    color: #19B03B;
    font-weight: bold;

}

button.registro {
    background-color: #8BD29B;
    color: #fff;
    font-weight: bold;
}


/*Content styles*/


/**/
/* Arreglar esto cuando llegue a la casa */
a {
    text-decoration: none;
    color: #000;
}

a:hover {
    color: #19B03B;
}

nav>ul>li:hover {
    transition: all .5s ease;
    transform: scale(1.2);
}

/* Arreglar esto cuando llegue a la casa */
/**/
s h2 {
    text-align: center;
    top: 66px;
    /*arreglo*/
    font-family: 'Comic Sans MS';
    font-weight: 800;
    font-size: 48px;
    line-height: 64px;
    color: #18191F;
}

body {
    background: #FFFFF8;
}

div#general {
    display: flex;
    flex-direction: row;
    background-color: #D5FCE5;
    margin-right: 6%;
    margin-left: 6%;

}

#imagenmision {
    width: 300px;
    height: 200px;
    margin-top: 8%;
}

#contenido {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 35px;
    width: 381px;
    height: 265px;

}

#subtitulo1 {
    margin-left: 100%;
}

#pmision {
    margin-left: 600%;
}

div#general2 {
    display: flex;
    flex-direction: row;
    background-color: #DEF5F4;
    margin-right: 6%;
    margin-left: 6%;
}

#imagenvision {
    width: 300px;
    height: 200px;
    margin-top: 8%;
}

#contenido2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 35px;
    width: 381px;
    height: 265px;
}


/*Mision-estilos*/

hr.lines-mision {
    opacity: 0.4;
    border-top: 2px solid #3D2656;
    margin-top: 2%;
    width: 5vw;
}

article#mision>h1 {
    display: flex;
    justify-content: center;
    font-weight: 800;
    font-size: 2.5em;
    margin: 2vh 0 10vh 0;
}


div#content-mision>p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.2px;
    opacity: 0.4;

    max-width: 225px;

}

div#bloque {
    background-color: #D5FCE5;
    max-width:100%;
    height: 60vh;
    padding-left: 5vw;
    justify-content: space-between;


    display: flex;
    flex-direction: row;
}

div#img-content-mision {
    flex-basis: 40%;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    padding-top: 1vw;
    padding-bottom: 1vw;
    padding-left: 2vw;
    padding-right: 2vw;

    max-width: 500px;

}

div#content-block {
    display: flex;
    flex-basis:50%;
    align-items: center;
}

div#content-mision {

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 20px;
}


div#img-mision {
    width: 100%;
    height: auto;
    max-width: 324px;
    max-height: 324px;

    border-top-left-radius: 0;
    border-top-right-radius: 25%;
    border-bottom-left-radius: 25%;
    border-bottom-right-radius: 0;

    background: white;

    box-shadow: 3.5vh 3.5vh #DCEAEF;

    display: flex;
    align-items: center;
    justify-content: center;
}

img#imagen-mision {
    width: 100%;
    max-width: 300px;
    height: auto;
}


/* Vision-estilos*/

hr.lines-vision {
    opacity: 0.4;
    border-top: 2px solid #3D2656;
    margin-top: 2%;
    width: 5vw;
}

article#vision>h1 {
    display: flex;
    justify-content: center;
    font-weight: 800;
    font-size: 2.5em;
    margin: 2vh 0 10vh 0;
}


div#content-vision>p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.2px;
    opacity: 0.4;

    max-width: 225px;

}

div#bloque-vision {
    margin-top: 5vh;
    background-color: #DEF5F4;
    max-width:100%;
    height: 60vh;
    padding-left: 5vw;
    justify-content: space-between;


    display: flex;
    flex-direction: row;
}

div#img-content-vision {
    flex-basis: 40%;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    padding-top: 1vw;
    padding-bottom: 1vw;
    padding-left: 2vw;
    padding-right: 2vw;

    max-width: 500px;

}

div#content-block-vision {
    display: flex;
    flex-basis:50%;
    align-items: center;
}

div#content-vision {

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 20px;
}


div#img-vision {
    width: 100%;
    height: auto;
    max-width: 324px;
    max-height: 324px;

    border-top-left-radius: 0;
    border-top-right-radius: 25%;
    border-bottom-left-radius: 25%;
    border-bottom-right-radius: 0;

    background-image: url(../img/imagenes/vision.svg);
    background-size: cover;
    

    box-shadow: 3.5vh 3.5vh #DCEAEF;

    display: flex;
    align-items: center;
    justify-content: center;
}

img#imagen-vision {
    width: 100%;
    max-width: 300px;
    height: auto;
    opacity: 0;
}


/* ESTILOS DEL FOOTER*/

footer {
    margin-top: 5%;
    background-color: #18191F;
    background-size: cover;
    color: #fff;
    display: flex;
    flex-direction: column;
    padding-bottom: 2vw;
}

div#logo-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
    margin-bottom: 2%;
}

div#enlaces-footer>ul {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

div#enlaces-footer>ul>li {
    padding: 20px;
}


div#extras-footer {
    display: flex;
    flex-direction: row;
    margin: 2% 10% 0% 10%;
    padding-bottom: 1vw;
}

div#derechos-reservados {
    display: flex;
    width: 50%;
    justify-content: left;
}

div#redes-sociales {
    display: flex;
    width: 50%;
    justify-content: flex-end;
}

div#redes-sociales>img {
    padding-right: 1.5vw;
}

@media screen and (max-width: 500px) {
    div#bloque {
        flex-direction: column; 
        justify-content: center;
        align-items: center;
        height: 80vh; 
    }
    div#img-content-mision {
        justify-content: center;

    }
    div#content-block {
        max-width: 225px;
    }

    div#img-mision {
        max-width: 200px;
    }


    div#bloque-vision {
        flex-direction: column; 
        justify-content: center;
        align-items: center;
        height: 80vh; 
    }
    div#img-content-vision {
        justify-content: center;

    }
    div#content-block-vision {
        max-width: 225px;
    }

    div#img-vision {
        max-width: 200px;
    }
}