@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;0,800;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Subrayada&family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Subrayada&family=Roboto:wght@100&family=Sen&display=swap');
@import url('https://fonts.googleapis.com/css2? family= Montserrat:wght@600 & display=swap');
@import url('https://fonts.googleapis.com/css2? family= Montserrat:wght@600 & family= Roboto+Mono & display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

h1{
    font-weight: 300;
}

/*TEMPORAL*/
header {
    margin-bottom: 5%;
}

footer {
    margin-top: 20%;
}

/**/

.contenedor {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 30px;

}

.card {
    display: flex;
    gap: 2rem;

}

.divcard>div>p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    /* or 133% */
    letter-spacing: 0.02em;
    /* Black */
    color: #000000;
    opacity: 0.7;
}

.img {
    width: 293px;
    height: 363px;
}

.first {
    gap: 2rem;
    display: flex;
    flex-direction: column;
    margin-left: 5%;
}

.first1 {
    gap: 1rem;
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat';
}

.first-text {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-family: 'Roboto';
    font-weight: bold;
}

.p2 {
    font-family: 'Montserrat';
}

.first-text>button {
    max-width: 15rem;
}

.hr {
    width: 140px;
    height: 6px;
    left: 69px;
    top: 23px;
    background: #484848;
    border-radius: 3px;
}

.buttonxd {
    display: flex;
    justify-content: center;
    background: #484848;
    color: white;
    max-width: 9rem;
    padding: 0.5rem;
    gap: 1rem;
    user-select: none;
    text-decoration: none;
    transition: ease-in-out 0.3s;
}



.line-button {
    max-width: max-content;
    align-items: center;
    background: none;
    color: #484848;
    font-weight: bold;
    align-self: center;
    border-radius: 1rem;
    font-family: 'Montserrat'


}

.button-eventos {
    background-color: #8AB694;
    border: none;
    padding: 15px 40px;
    border-radius: 30px;
    font-style: normal;
    font-weight: 500;
    font-size: 19px;
    line-height: 23px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 2%;
}

.button-eventos:hover {
    background-color: #484848;
    user-select: none;
    text-decoration: none;
    transition: ease-in-out 0.3s;
    cursor: pointer;
}

.first-text>button:hover {
    background-color: #484848;
    user-select: none;
    text-decoration: none;
    transition: ease-in-out 0.3s;
}

.buttons {
    background-color: #8AB694;
    border: none;
    padding: 20px 50px;
    border-radius: 30px;
    font-style: normal;
    font-weight: 700;
    font-size: 19px;
    line-height: 23px;
    text-align: center;
    color: #FFFFFF;
    max-width: 22rem;
}

.buttons:hover {
    background-color: #484848;
    color: #FFFFFF;
    transition: ease-in-out 0.5s;
    user-select: none;
    text-decoration: none;
    cursor: pointer;
}


.buttonxd:hover {
    background-color: #8AB694;
    color: #FFFFFF;
    font-size: 18px;
}

.cardtext {
    display: flex;
    flex-direction: column;
    justify-items: space-between;
    justify-content: space-between;
    margin: 40px 0px;
    font-family: 'Roboto';
}

.second {
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    gap: 10rem;
}

.second2>p:first-child {
    font-size: 2rem;
    font-weight: bold;
    max-width: 30rem;
    font-family: 'Roboto';
    font-style: normal;


}

.second2 {
    gap: 2rem;
    display: flex;
    flex-direction: column;
    margin-left: 5rem;
    font-family: 'Montserrat';
}


ul.pagination {
    display: inline-block;
    padding: 0;
    margin: 0;
}

ul.pagination li {
    display: inline;
}

ul.pagination li a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 5px;
}

ul.pagination li a.active {
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
}

ul.pagination li a:hover:not(.active) {
    background-color: #ddd;
}

ul.pagination {
    display: flex;
    justify-content: center;
    margin: 50px 0;
}

#xD {
    display: flex;
}

.filtros {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.xDfiltros{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 2rem;
}
.xDfiltros > div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.ordenar{
    display: flex;
    flex-direction: column; 
    gap: 1rem;
}
.containerFiltros{
    display: flex;
    flex-direction: column;
    gap: 2rem ;
    margin-bottom: 2rem;
    
}

#Buscador {
    background: url(https://cdn0.iconfinder.com/data/icons/slim-square-icons-basics/100/basics-19-32.png) no-repeat 0px 5px;
    background-size: 24px;
    width: 500px;
    border: transparent;
    border-bottom: solid 1px #ccc;
    padding: 10px 10px 10px 30px;
    outline: none;
    border-radius: 50px;
}


@media (max-width: 768px) {
    .contenedor {
        grid-template-columns: 1fr;
    }

    .card {
        flex-direction: column;
    }
}

.notunderline {
    text-decoration: none;
}

@media (max-width: 768px) {
    .contenedor-botones {
        display: flex;
        gap: 1rem;
        flex-direction: column;

    }
}

.line-button:hover {
    background-color: #8AB694;
    color: white;
}