* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.contenedor{
    display: grid;
    grid-template-columns: repeat(2, 0.3fr);
    grid-template-rows: max-content;
    gap: 1em;


}

.card {

}