@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;0,800;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Subrayada&family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Subrayada&family=Roboto:wght@100&family=Sen&display=swap');
@import url('https://fonts.googleapis.com/css2? family= Montserrat:wght@600 & display=swap');
@import url('https://fonts.googleapis.com/css2? family= Montserrat:wght@600 & family= Roboto+Mono & display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Archivo:wght@200;400;600&family=Inter&family=Montserrat:wght@200;400&family=Noto+Sans&family=Poppins&family=Roboto:wght@400;500&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.form {
    padding: 120px 35px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

.inputs {
    padding: 13px 20px;
    font-size: 1rem;
    background: transparent;
    border: #ffffff solid 1px;
    height: 100%;
    color: #fff;
    border-radius: 4px;
    outline: none;
}

.inputs::placeholder {
    color: #fff;
}

.inputs::-ms-expand {
    display: none;
}

option {
    color: #000000;
}

.optionColor {
    color: #fff;
}

::-webkit-calendar-picker-indicator {
    filter: invert(100%) sepia(0%) saturate(6%) hue-rotate(197deg) brightness(103%) contrast(104%);
}

.xDD {
    position: absolute;
    align-self: center;
    bottom: 3rem;
    color: #fff;
    font-family: 'Archivo', sans-serif;
    font-size: 18px;
}

.send {
    background-color: #ffbb00;
    outline: none;
    padding: 11.5px 30px;
    font-weight: 500;
    color: #FFFFFF;
    border: 1px solid #ffbb00;
    border-radius: 4px;
    line-height: 1.7;
    cursor: pointer;
    font-size: 0.9231rem;
    transition: 0.2s;
}

.send:hover {
    background: transparent;
    color: #ffbb00;
}

.title{
    font-size: 21px;
    line-height: 24px;
    font-family: "Archivo", sans-serif;
    font-weight: 600;
    color: #1a0a1e;
    text-decoration: none;
    cursor: pointer;
}

.title:hover {
    color: #96caa0;
    transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
}


/*TEMPORAL*/

footer {
    margin-top: 20%;
}

.contenedor {
    width: 70%;
    margin: auto;

}

.card {
    display: flex;
    gap: 3rem;
    margin-top: 80px;
    position: relative;
    padding-left: 100px;
    align-items: center;
    padding-top: 1rem;

}

.card::before {
    content: "";
    width: 2px;
    height: 140%;
    background-color: #ebebeb;
    position: absolute;
    left: 22px;
    top: 0;
    z-index: -1;
}

.divcard>div>p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    /* or 133% */
    letter-spacing: 0.02em;
    /* Black */
    color: #000000;
    opacity: 0.7;
}

.event-img a {
    display: flex;
    align-items: center;
    overflow: hidden;
    border-radius: .4rem;
    
}

.img {
    width: 340px;
    height: 200px;
    transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.img:hover {
    transform: scale(1.15);
}

.specificInfo {
    display: flex;
    align-items: center;
    font-size: 15px;
    font-weight: 400;
    gap: 30px;
}

.location {
    margin-top: 1px;
    width: 12px;
    height: 12px;
    filter: invert(92%) sepia(13%) saturate(856%) hue-rotate(69deg) brightness(85%) contrast(84%);
}

.cardtext p {
    font-family: 'Open sans', sans-serif;
    font-size: 15px;
    word-spacing: 1px;
    line-height: 23px;
    text-align: justify;
}

.backImage {
    background: url(https://demo.gloriathemes.com/eventchamp/demo/wp-content/uploads/2022/01/titlebar-bg.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    filter: brightness(50%);
}

.generalContainer {
    margin-bottom: 8rem;
    display: flex;
    flex-direction: column;
    position: relative;
}

.first {
    display: flex;
    flex-direction: column;
    position: relative;
}

.first1 {
    gap: 1rem;
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat';
}

.first-text {
    display: flex;
    gap: 1rem;
    font-family: 'Roboto';
    font-weight: bold;
}

.p2 {
    font-family: 'Montserrat';
}

.first-text>button {
    max-width: 15rem;
}

.hr {
    width: 140px;
    height: 6px;
    left: 69px;
    top: 23px;
    background: #484848;
    border-radius: 3px;
}

.button {
    display: flex;
    font-weight: 700;
    color: #96caa0;
    text-decoration: underline;
    transition: ease-in-out 0.3s;
}



.line-button {
    max-width: max-content;
    align-items: center;
    background: none;
    color: #484848;
    font-weight: bold;
    align-self: center;
    border-radius: 1rem;
    font-family: 'Montserrat'


}

.button-eventos {
    background-color: #8AB694;
    border: none;
    padding: 15px 40px;
    border-radius: 30px;
    font-style: normal;
    font-weight: 500;
    font-size: 19px;
    line-height: 23px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 2%;
}

.button-eventos:hover {
    background-color: #484848;
    user-select: none;
    text-decoration: none;
    transition: ease-in-out 0.3s;
    cursor: pointer;
}

.first-text>button:hover {
    background-color: #484848;
    user-select: none;
    text-decoration: none;
    transition: ease-in-out 0.3s;
}

.buttons {
    background-color: #8AB694;
    border: none;
    padding: 20px 50px;
    border-radius: 30px;
    font-style: normal;
    font-weight: 700;
    font-size: 19px;
    line-height: 23px;
    text-align: center;
    color: #FFFFFF;
    max-width: 22rem;
}

.buttons:hover {
    background-color: #484848;
    color: #FFFFFF;
    transition: ease-in-out 0.5s;
    user-select: none;
    text-decoration: none;
    cursor: pointer;
}


.buttonxd:hover {
    background-color: #8AB694;
    color: #FFFFFF;
    font-size: 18px;
}

.cardtext {
    display: flex;
    flex-direction: column;
    justify-items: space-between;
    justify-content: space-between;
    font-family: 'Roboto';
    /* margin-bottom: 4rem; */
    justify-items: center;
    gap: 1rem;
}

.event-time {
    width: 45px;
    height: 45px;
    line-height: 16px;
    text-align: center;
    background: #96caa0;
    color: #ffffff;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 0;
    font-size: 12px;
    font-family: "Archivo", sans-serif;
    font-weight: 600;
    display: inline-block;
    padding: 8px;
}

.day-time {
    font-size: 16px;
}

.second {
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    gap: 10rem;
}

.second2>p:first-child {
    font-size: 2rem;
    font-weight: bold;
    max-width: 30rem;
    font-family: 'Roboto';
    font-style: normal;


}

.second2 {
    gap: 2rem;
    display: flex;
    flex-direction: column;
    margin-left: 5rem;
    font-family: 'Montserrat';
}


ul.pagination {
    display: inline-block;
    padding: 0;
    margin: 0;
}

ul.pagination li {
    display: inline;
}

ul.pagination li a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 5px;
}

ul.pagination li a.active {
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
}

ul.pagination li a:hover:not(.active) {
    background-color: #ddd;
}

ul.pagination {
    display: flex;
    justify-content: center;
    margin: 50px 0;
}

#xD {
    display: flex;
}

.filtros {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.xDfiltros{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 2rem;
}
.xDfiltros > div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.ordenar{
    display: flex;
    flex-direction: column; 
    gap: 1rem;
}

.containerFiltros{
    display: flex;
    justify-content: center;
    gap: 2rem;
    width: 100%;
    flex-wrap: wrap;
    margin-right: auto;
    margin-left: auto;
}


@media (max-width: 1276px) {
    .contenedor {
        width: 85%;
    }
}

@media (max-width: 1000px) {
    .card {
        display: flex;
        flex-direction: column;
    }

}

@media (max-width: 530px) {
    .card {
        padding-left: 60px;
    }
    

}

/* 
@media (max-width: 768px) {
    .contenedor {
        grid-template-columns: 1fr;
    }

    .card {
        flex-direction: column;
    }
}

.notunderline {
    text-decoration: none;
}

@media (max-width: 768px) {
    .contenedor-botones {
        display: flex;
        gap: 1rem;
        flex-direction: column;

    }
} */

.line-button:hover {
    background-color: #8AB694;
    color: white;
}