#btnMode {
    font-size: 1.5rem;
    cursor: pointer;
}

.darkmode {
    background-color: #0B0D17;
}

#btnMode.on {
    color: orange;
}

/* .font-mode {
    color: #F4F0EE;
}

.darkmode .sobre-nosotros>div>p,
.darkmode .title-page>h1,
.darkmode .intro__information>p,
.darkmode .container-info-page>h2,
.darkmode .container-info-page h3,
.darkmode .info__consejos>p,
.darkmode .end__side1>p,
.darkmode .end__side2>p {
    color: #F4F0EE;
} */

body.darkmode * {
    color: #F4F0EE !important;
}

body.darkmode #menu a {
    color: #3FDC86 !important;
}

body.darkmode #menu a:hover {
    color: #F4F0EE !important;
}

body.darkmode #menu span {
    color: #3FDC86 !important;
}

body.darkmode #menu span:hover {
    color: #F4F0EE !important;
}

body.darkmode .preguntas_eventos-eventos>p>a:hover {
    color: #4F9466 !important;
}

body.darkmode #menu img.menu_arrow {
    filter: brightness(100);
}

body.darkmode, .preguntas_eventos-eventos,
.hover-xd:hover {
    color: #4F9466!important;
}

body.darkmode
.img-perfil {
    filter: invert(1);
}

/* body.darkmode, .titulos-generales, .titulos_generales img.menu_arrow-eventos {
    filter: brightness(100);
} */

body.darkmode .primeroxd,
body.darkmode .segundoxd,
body.darkmode .terceroxd,
body.darkmode .cuartoxd,
body.darkmode .quintoxd {
    background-color: #0B0D17 !important;
}

body.darkmode .slider-center .container_container .container-slider .slider_screen .text_slider * {
    color: #040504 !important;
}


body.darkmode .header-container .green {
    color: #0B0D17 !important;
}

body.darkmode,
#container,
#about_us,
.sobre-nosotros,
.text_sobre-nosotros>h1 {
    color: #4F9466 !important;
}

@media screen and (max-width: 425px) {

    body.darkmode,
    .slider-center,
    .container_container,
    .container-slider,
    .slider_screen {
        background-color: #0B0D17;
    }
}