@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,800;1,700&display=swap');

header {
    font-family: 'Montserrat';

}

#menu {
    display: grid;
    grid-template-columns: auto 1fr max-content;
    padding: 1rem 1rem;
}

.menu-header {
    list-style: none;
    display: flex;
    gap: 3vw;
}

.li-menu {
    padding: 10px;
}

#buttons-header {
    place-self: flex-start;
}

#LEAFING {
    font-size: 35px;
    color: #484848;
}

#links-header{
    place-self: flex-start;
}
.a-header {
    text-decoration: none;
    color: #484848;
    font-weight: 600;
    font-size: 16px;
}

#buttons-header {
    display: flex;
    gap: 1rem;
}

.text-button {
    font-size: 16px;
    font-weight: 600;
    color: #fff;

}

.buttons-header {
    border-radius: 23px;
    padding: 10px;
    border: none;
    padding:  10px 25px;
    background: #8AB694;
}

#leafing-header {
    place-self: center;
}

.img-menu {
    display: none;
}


@media screen and (max-width: 900px) {

    #menu {
        grid-template-columns: minmax(min-content 0.5fr) 1fr;
    }

    #links-header {
        display: none;
    }

    #buttons-header {
        display: none;
    }

    .img-menu {
        display: flex;
        padding-left: 1rem;
    }


}