@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;0,800;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Subrayada&family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Subrayada&family=Roboto:wght@100&family=Sen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@400;800&display=swap');


body{
    overflow: overlay;
}

header {
    font-family: 'Montserrat';
    /* margin-bottom: 8%; */
}

#menu {
    display: grid;
    grid-template-columns: .4fr 1.5fr .8fr;
    padding: 1.5rem 1.5rem;
}

/* .hidden {
    overflow: hidden;
} */

.preloaderContainer {
    height: 100vh;
    width: 100vw;
    background-color: #fff4db;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 1000;
    /* transition: fade-out-5023c08d-5bd5-40ce-95c1-6a5e0b8a9e9f 1s infinite; */
    background: transparent;
    backdrop-filter: blur(4px);
    background-color: rgba(50, 50, 50, 0.5);
    z-index: 999;
    transition: backdrop-filter 1s ease;
}

/* @keyframes blur-out-feb63119-9b86-47c4-bfdc-eddeab303dad {
    0% {
        filter: blur(0);
        opacity: 1
    }

    100% {
        filter: blur(10px);
        opacity: 0
    }
} */

@keyframes fade-out-5023c08d-5bd5-40ce-95c1-6a5e0b8a9e9f {
    0% {
        animation-timing-function: cubic-bezier(0.2242, 0.7499, 0.3142, 0.8148);
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.preloaderContainer img {
    height: 35vh;
}


li {
    list-style: none;
}


.menu-header {
    height: 100%;
    display: flex;
    transition: transform .5s;
    gap: 2.5vw;
    align-items: center;
}

.a-header-desplegable {
    padding: 0.5em;
}

.li-menu {
    height: 100%;
    position: relative;
    padding: 10px;

    --clip: polygon(0 0, 100% 0, 100% 0, 0 0);
    --transform: rotate(-90deg);
}

.li-menu:hover {
    --clip: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    --transform: rotate(0);
}

.menu_desplegable {
    clip-path: var(--clip);
    transition: clip-path .3s;
    position: absolute;
    right: 0;
    bottom: 0;
    width: max-content;
    transform: translateY(100%);
    z-index: 999;
}

.menu_arrow {
    width: 25px;
    height: 25px;

    display: block;
    transform: var(--transform);
    transition: transform .3s;
}

.a-header {
    text-decoration: none;
    color: #484848;
    font-weight: 600;
    font-size: 16px;
    display: flex;
    height: 100%;
    align-items: center;
}

#buttons-header {
    place-self: center;
    align-self: center;
}

#LEAFING {
    font-size: 33px;
    color: #484848;
}

#links-header {
    align-self: center;
}

#buttons-header {
    display: flex;
    gap: 1rem;
    width: 90%;
    justify-content: flex-end
}

.buttons-header {
    border-radius: 23px;
    padding: 10px;
    border: none;
    padding: 10px 25px;
    background-color: #484848;

    font-size: 16px;
    font-weight: 600;
    color: #fff;
    text-decoration: none;
}

.buttons-header:hover {
    cursor: pointer;
    background-color: #8AB694;
    transform: scale(1.01);
    transition: all .5s ease-in-out;
}

#leafing-header {
    place-self: center;
}

.burger {
    display: none;
    width: 25px;
    height: 25px;
    cursor: pointer;
}


.iniciar-sesion-burger,
.registro-sesion-burger {
    display: none;
}


.menu-header-perfil {
    height: 100%;
    display: flex;
    transition: transform .5s;
    gap: 2.5vw;
    align-items: center;
}


.li-menu_perfil {
    height: 100%;
    position: relative;

    --clip: polygon(0 0, 100% 0, 100% 0, 0 0);
}

.li-menu_perfil:hover {
    --clip: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.li-menu_perfil-desplegable>a {
    padding: 0.8rem;
    justify-content: flex-end;
}

.menu_desplegable-peril {
    z-index: 999;
    clip-path: var(--clip);
    transition: clip-path .3s;
    position: absolute;
    right: 0;
    bottom: 0;
    width: max-content;
    transform: translateY(100%);

}

.imgBandera {
    width: 90px;
    height: 50px;
}

.BanderaEspaña {
    border: none;
    cursor: pointer;
}

.BanderaIngles {
    border: none;
    cursor: pointer;
}

@media screen and (max-width: 900px) {

    .iniciar-sesion-burger,
    .registro-sesion-burger {
        display: block;
    }

    .li-menu {
        --clip: 0;
        overflow: hidden;
    }

    #menu {
        display: grid;
        grid-template-columns: max-content 1fr;
        align-items: center;
        justify-content: center;
    }

    #buttons-header {
        display: none;
    }

    .burger {
        display: block;

    }

    .menu-header {
        position: fixed;
        width: 80%;
        left: 0;
        bottom: 0;
        top: 56px;
        /* background-color: #8AB694; */
        background: hsl(0 0% 100% / 0.1);
        backdrop-filter: blur(0.5rem);

        display: grid;
        grid-auto-rows: max-content;

        transform: translateX(-100%);
    }

    .menu-header_show {
        transform: unset;
        width: 55%;
    }

    .a-header {
        padding: 25px 0;
        padding-left: 30px;
        height: auto;
    }

    .menu_desplegable {
        right: 0;
    }

    .menu_arrow {
        margin-left: auto;
        margin-right: 20px;
    }

    .menu_desplegable {
        display: grid;
        position: unset;
        width: 100%;
        transform: translateY(0);
        height: 0;
        transition: height .3s;
    }

    .sub_menu-activo {
        transform: rotate(0);
    }
}

li>a:hover {
    transition: all .3s ease;
    color: #4F9466;
}

.BanderaEspaña,
.BanderaIngles {
    background: transparent;
}

::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #a8bbbf;
}

.img-perfil{
    border-radius: 50%;
    height: 60px;
    width: 60px;
}