@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;0,800;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Subrayada&family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Subrayada&family=Roboto:wght@100&family=Sen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@400;800&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat';
}

a {
    text-decoration: none;
}

header {
    background: url(../img/imagenes/volunteer.jpg) no-repeat center center;
    background-size: cover;
    transition: 3s;

    width: 100%;
    min-height: 100vh;


    display: grid;
    grid-template-rows: max-content 1fr;


}



.header-container {
    display: flex;
    flex-direction: column;
    gap: 40px;

    align-items: center;
    justify-content: center;
    margin-bottom: 4rem;
}

.header-container>h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 46px;
    line-height: 56px;
    color: #484848;
    text-align: center;

}

.header-container>p {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 26px;

    max-width: 60%;
    text-align: center;

    color: #707070;
}

.header-button_index {
    background-color: #484848;
    border: none;

    padding: 20px 50px;
    border-radius: 30px;

    font-weight: 700;
    font-size: 19px;
    line-height: 23px;
    text-align: center;

    color: #FFFFFF;
    cursor: pointer;
}

.header-button_index:hover {
    background-color: #8AB694;
    transform: scale(1.02);
    transition: all .5s ease-in-out;
}


/*¿Qué son estos eventos?*/

.que-eventos {
    margin-top: 8rem;
    display: grid;
    /* grid-template-columns: 0.7fr auto; */
    grid-template:
        "hr1_que-evento        img_que-eventos" max-content
        "contenido_que-eventos img_que-eventos" 1fr /
        0.7fr auto;
    justify-content: space-evenly;

    margin-bottom: 10rem;
}

.hr1_que-evento {
    grid-area: hr1_que-evento;
}

.img_que-eventos {
    grid-area: img_que-eventos;
}

.contenido_que-eventos {
    grid-area: contenido_que-eventos;
}


.contenido_que-eventos {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}

#hr1_que-evento>h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    color: #484848;
}


.contenido_que-eventos {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: #9A9A9A;
}

.preguntas_eventos-eventos {


    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
}

.preguntas_eventos-eventos>p>a {
    font-style: normal;
    font-weight: 700;
    font-size: 19px;
    line-height: 23px;
    color: #484848;
    text-decoration: none;
}

.preguntas_eventos-eventos>p>a:hover {
    color: #8AB694;
    transition: all .4s ease-in-out;
}

.button_que-eventos:hover {
    cursor: pointer;
    background-color: #8AB694;
    transform: scale(1.01);
    transition: all .5s ease-in-out;
}



.button_que-eventos {
    background-color: #484848;
    border: none;

    padding: 20px 50px;
    border-radius: 30px;

    font-style: normal;
    font-weight: 700;
    font-size: 19px;
    line-height: 23px;
    text-align: center;

    color: #FFFFFF;
}

#img_que-eventos {
    /* width: 382px;
    height: 437px; */
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.hr_que-eventos {
    margin-top: 1.5rem;
    width: 10vw;
    border: 2px #484848 solid;
    border-radius: 3px;
}

.titulos-generales {
    display: grid;
    grid-template-columns: auto 0.7fr;
    justify-content: space-around;

    margin-bottom: 5%;
}

.titulo_generales>h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 48px;
    color: #484848;

}

.titulo_generales>hr {
    margin-top: 1rem;
    width: 10vw;
    border: 2px #484848 solid;
    border-radius: 3px;
}

.titulo_generales {
    display: flex;
    flex-direction: column;
}

.container_recomendaciones {
    display: flex;
    flex-direction: column;
    width: 100%;
    /* grid-template-columns: clamp(200px, 61vw, 80vw);
    grid-template-rows: repeat(2, max-content); */
    gap: 2rem;
    align-items: center;
    justify-content: center;
    margin-bottom: 5%;

}

.recomendacion>h1,
.informacion>h1 {
    font-style: normal;
    font-weight: 700;
    font-size: clamp(1.5rem, 5vw, 2.3rem);
    color: #484848;
}

.recomendacion>p {
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    color: #000000;
}


.recomendacion>a>button,
.informacion>a>button {
    background-color: #484848;
    border: none;
    padding: 1rem 2rem;

    border-radius: 30px;
    font-style: normal;
    font-weight: 700;
    font-size: 19px;
    line-height: 23px;
    text-align: center;
    color: #FFFFFF;
}

.recomendacion>a>button:hover,
.informacion>a>button:hover {
    cursor: pointer;
    background-color: #8AB694;
    transform: scale(1.01);
    transition: all .5s ease-in-out;
}


.recomendacion {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    gap: 1rem;
    width: 80vw;
    z-index: 9999;

}

.informacion {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    gap: 1rem;
    width: 80vw;
    z-index: 9999;

}

.contribute_recomendaciones {
    padding: 2rem;
    border-radius: 12px;
    background: url(../img/imagenes/foto-informacion.svg) no-repeat center center;
    background-size: cover;
}

.habitos_recomendaciones {
    padding: 2rem;
    border-radius: 12px;
    background: url(../img/imagenes/foto-recomendaciones.svg) no-repeat center center;
    background-size: cover;
}

.Datos_curiosos_container {
    display: grid;
    grid-template-columns: repeat(2, 0.4fr);
    grid-auto-rows: max-content;
    justify-content: center;

    row-gap: 30px;
    gap: 81px;
    margin-bottom: 10%;
}

.Datos_cards {
    border: 1px solid #A1AEBF;
    border-radius: 10px;
    padding: 1.5rem;
}

.Datos_cards>p {
    font-family: 'Archivo';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #0D0E14;
}

.Datos_cards>div>h1 {
    font-family: 'Archivo';
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 26px;
    color: #0D0E14;
}

.Datos_cards>div {
    display: flex;
    justify-content: space-between;
}


@media screen and (max-width:670px) {
    .Datos_curiosos_container {
        display: grid;
        grid-template-columns: 0.7fr;
        grid-auto-rows: max-content;
        justify-content: center;
        gap: 81px;
        row-gap: 30px;

        margin-bottom: 10%;
    }

}

@media screen and (max-width:930px) {
    .que-eventos {
        display: grid;
        grid-template:
            "hr1_que-evento" max-content
            "img_que-eventos" auto
            "contenido_que-eventos " 1fr /
            0.8fr;

        justify-items: center;
        justify-content: center;
        align-items: center;

        gap: 2rem;
    }

    .hr_que-eventos {
        width: 100%;

    }

    .contenido_que-eventos {
        align-items: center;
        gap: 2rem;
    }

    .titulos-generales {
        grid-template-columns: 1fr;
        justify-content: center;
    }

    .titulo_generales {
        justify-self: center;
        text-align: center;
        align-items: center;
    }

    .titulo_generales>hr {
        width: 80%;
    }
}

/*Slider eventos recomendados*/
.container_container {
    overflow: hidden;
    max-width: 80rem;

}

.slider-center {
    display: flex;
    justify-content: center;
}


.container-slider {
    height: 70vh;
    background-color: #fff;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    transition: all .5s ease;
    transform: translateX(-0%);
    width: 500%;

}

.container_slider_puntos {
    display: flex;
    justify-content: center;
    align-self: end;
    gap: 7px;
    padding: 2rem 0;
}

.slider-punto {
    cursor: pointer;
    padding: 8px;
    margin: 4px;
    background: #48484879;
    border-radius: 50%;
}

.active {
    background: #484848;
}

.slider_screen {

    width: calc(100%/5);
    display: flex;
    justify-content: center;
    align-items: center;
}


.text_slider {
    order: 1;
    width: 40%;
    height: 70vh;

    background-color: #FBF8F3;
    box-shadow: 3px 5px 4px rgba(0, 0, 0, 0.25);
}

@media screen and (max-width:425px) {

    .text_slider {
        height: 55vh;
    }

}

.imgen_slider {
    order: 2;
    width: 40%;
    background-size: cover;
    height: 70vh;
    box-shadow: 3px 5px 4px rgba(0, 0, 0, 0.25);
    background-size: cover
}

.i_Primero {
    background-image: url(../img/imagenes/limpieza3.png);
    background-repeat: no-repeat;
    background-position: center center;
}

.i_Segundo {
    background-image: url(../img/imagenes/limpieza2.png);
    background-repeat: no-repeat;
    background-position: center center;
}

.i_Tercero {
    background-image: url(../img/imagenes/limpieza1.png);
    background-repeat: no-repeat;
    background-position: center center;
}

.i_Cuarto {
    background-image: url(../img/imagenes/limpieza4.png);
    background-repeat: no-repeat;
    background-position: center center;
}

.i_Quinto {
    background-image: url(../img/imagenes/limpieza5.png);
    background-repeat: no-repeat;
    background-position: center center;

}

.text_slider>h2 {
    font-family: 'Montserrat Subrayada';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 48px;
    color: #484848;

}

.text_slider>h1 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    color: #484848;
    text-align: center;
}

.text_slider>a>button {
    border: 1px solid;
    padding: 0.5vh 5vw;

    font-family: 'Sen';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 48px;
    background-color: transparent;
    color: #000000;
}

.text_slider>a>button:hover {
    cursor: pointer;
    transform: scale(1.01);
    transition: all .5s ease-in-out;

}

.t_Primero,
.t_Segundo,
.t_Tercero,
.t_Cuarto,
.t_Quinto {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.titulo_generales>a>p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 19px;
    line-height: 23px;
    color: #484848;
}

.titulo_generales>a>p {
    display: flex;
    align-items: center;
}

.menu_arrow-eventos {
    width: 25px;
    height: 25px;
    transform: rotate(-90deg);
}

.titulo_generales>a:hover {

    transition: all .5s ease-in-out;
    transform: scale(1.02);
}

/* 
.slider_article {
    margin-bottom: 10rem;
} */

.comunitySlider {
    display: flex;
}

.Recomendaciones-informacion {
    margin-bottom: 10rem;
}

@media screen and (max-width:768px) {

    .imgen_slider {
        display: none;
    }

    .text_slider {
        width: 90%;
    }
}