/* General */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Carousel */
.carousel {
    width: 800px;
    height: 650px;
    overflow: hidden;
}

/* Images */
.images {
    display: flex;
    transform: translateY(0);
    transition: transform 1s ease-in-out;
}

/* Controls */
.controls {
    height: 50px;
    display: flex;
    justify-content: space-between;
}

.btn {
    border: none;
    background-color: goldenrod;
    flex-basis: 33%;
    cursor: pointer;
}