/*Reinicio */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* Estilos de HR*/
hr.lines {
    opacity: 0.4;
    flex: none;
    order: 0;
    flex-grow: 0;
    border-top: 2px solid #3D2656;
    margin-top: 2%;
    width: 1110px;
    margin-left: 10%;
}
/* ESTILOS DEL HEADER*/


header {
    display: flex;
    flex-direction: row;
    margin-top: 1%;
    margin-bottom: 2%;
}

div#Menusito {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 35px;
    flex-basis: 70%;
    margin-left: 10%;
}

nav {
    display: flex;
    flex-wrap: wrap;
}

nav>ul>li {
    float: left;
    list-style: none;
    padding-right: 50px;
}


div#buttonsIR {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: right;
    flex-basis: 30%;
    margin-right: 5%;
    
}
.button {
    padding: 10px 20px;
    margin-right: 10px;
    border-radius: 5px;
    border-style: none;
}

button.iniciar {
    background-color: #DBF0E6;
    color: #19B03B;
    font-weight: bold;

}

button.registro {
    background-color: #8BD29B;
    color: #fff;
    font-weight: bold;
}
/* ESTILOS DEL FOOTER*/

footer {
    background-color: #18191F;
    background-size: cover;
    color: #fff;
    height: 360px;
    margin-top: 2%;
}

div#footer {
    display: flex;
    flex-direction: column;
}

div#logo-footer {
    display: flex;
    justify-content: center;
    margin-top: 2%;
    margin-bottom: 2%;
}

div#enlaces-footer>ul {
    list-style: none;
    display: flex;
    justify-content: center;
}


div#colum-alig {
    display: flex;
    flex-direction: row;
    margin: 2% 10% 0% 10%;
}


div#enlaces-footer>ul>li {
    padding: 20px;
}

div#derechos-reservados {
    display: flex;
    width: 50%;
    justify-content: left;
}

div#redes-sociales {
    display: flex;
    width: 50%;
    justify-content: flex-end;
}

div#redes-sociales>img {
    padding-right: 3%;
}