@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;400;500;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}


/*TEMPORAL*/
header {
    margin-bottom: 25vw;
}

/* Estilos de HR*/
hr.lines {
    opacity: 0.4;
    flex: none;
    order: 0;
    flex-grow: 0;
    border-top: 2px solid #3D2656;
    margin-top: 2%;
    width: 1110px;
    margin-left: 10%;
}
/* ESTILOS DEL HEADER*/


header {
    display: flex;
    flex-direction: row;
}

/* Divs Principales*/
div#Menusito {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 35px;
    padding-top: 1vw;
    padding-left: 3vw;
    width: 65%;
}

nav {
    display: flex;
    flex-wrap: wrap;
}
nav>ul>li {
    float: left;
    list-style: none;
    padding-right: 50px;
}

div#buttonsIR {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: right;
    padding-top: 1vw;
    padding-right: 1vw;
    width: 35%; 
}

.button {
    padding: 10px 20px;
    margin-right: 10px;
    border-radius: 5px;
    border-style: none;
}

button.iniciar {
    background-color: #DBF0E6;
    color: #19B03B;
    font-weight: bold;

}

button.registro {
    background-color: #8BD29B;
    color: #fff;
    font-weight: bold;
}


/*Content styles*/


/**/
/* Arreglar esto cuando llegue a la casa */
a {
    text-decoration: none;
    color: #000;
}

a:hover {
    color: #19B03B;
}
/* Arreglar esto cuando llegue a la casa */
/**/
s

h2 {
    text-align: center;
    top: 66px;
    /*arreglo*/
    font-family: 'Comic Sans MS';
    font-weight: 800;
    font-size: 48px;
    line-height: 64px;
    color: #18191F;
}

body {
    background: #FFFFF8;
}

div#general {
    display: flex;
    flex-direction: row;
    background-color: #D5FCE5;
    margin-right: 6%;
    margin-left: 6%;

}

#imagenmision {
    width: 300px;
    height: 200px;
    margin-top: 8%;
}

#contenido {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 35px;
    width: 381px;
    height: 265px;

}

#subtitulo1 {
    margin-left: 100%;
}
#pmision{
    margin-left: 600%;
}

div#general2 {
    display: flex;
    flex-direction: row;
    background-color: #DEF5F4;
    margin-right: 6%;
    margin-left: 6%;
}

#imagenvision {
    width: 300px;
    height: 200px;
    margin-top: 8%;
}

#contenido2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 35px;
    width: 381px;
    height: 265px;
}

/* ESTILOS DEL FOOTER*/

footer {
    margin-top: 5%;
    background-color: #18191F;
    background-size: cover;
    color: #fff;
    display: flex;
    flex-direction: column;
    padding-bottom: 2vw;
}

div#logo-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
    margin-bottom: 2%;
}

div#enlaces-footer>ul {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

div#enlaces-footer>ul>li {
    padding: 20px;
}


div#extras-footer {
    display: flex;
    flex-direction: row;
    margin: 2% 10% 0% 10%;
    padding-bottom: 1vw;
}

div#derechos-reservados {
    display: flex;
    width: 50%;
    justify-content: left;
}

div#redes-sociales {
    display: flex;
    width: 50%;
    justify-content: flex-end;
}

div#redes-sociales>img {
    padding-right: 1.5vw;
}

