/* img {
    width: 100%;
}

.container-loader {
    background-color: #f3f3f396;
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 9999;
    transition: all 1.5s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loader,
.loader::before,
.loader::after {
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    animation: loading 1.5s infinite ease-in-out;
}

.loader {
    color: black;
    font-size: 15;
    position: relative;
    animation-delay: -0.16s;
}

.loader::before,
.loader::after {
    content: "";
    position: absolute;
    top: 0;
}

.loader::before {
    left: -3.5em;
    animation-delay: -0.32s;
}

.loader::after {
    left: 3.5em;
}

@keyframes loading {

    0%,
    80%,
    100% {
        box-shadow: 0 2.5em 0 -1.3em;
    }

    40%{
        box-shadow: 0 2.5em 0 0 0em;
    }
} */