/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;0,800;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Subrayada&family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Subrayada&family=Roboto:wght@100&family=Sen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Archivo:wght@200;400;600&family=Inter&family=Montserrat:wght@200;400&family=Noto+Sans&family=Poppins&family=Roboto:wght@400;500&display=swap'); */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.form {
    padding: 60px 35px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    opacity: 1;
    transition: all .5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.inputs {
    padding: 13px 20px;
    font-size: 1rem;
    background: transparent;
    border: #ffffff solid 1px;
    height: 100%;
    color: #fff;
    border-radius: 4px;
    outline: none;
}

.inputs::placeholder {
    color: #fff;
}

.inputs::-ms-expand {
    display: none;
}

.lupa {
    position: absolute;
    width: 25px;
    right: 1rem;
    top: .8rem;
    filter: invert(100%) sepia(0%) saturate(7491%) hue-rotate(356deg) brightness(101%) contrast(99%);
}

.search {
    padding-left: 2rem;
}

option {
    color: #000000;
}

/* .optionColor {
    color: #fff;
} */

::-webkit-calendar-picker-indicator {
    filter: invert(100%) sepia(0%) saturate(6%) hue-rotate(197deg) brightness(103%) contrast(104%);
}

.xDD {
    position: absolute;
    align-self: center;
    bottom: 3rem;
    color: #fff;
    font-family: 'Archivo', sans-serif;
    font-size: 18px;
}

.send {
    background-color: #ffbb00;
    outline: none;
    padding: 11.5px 30px;
    font-weight: 500;
    color: #FFFFFF;
    border: 1px solid #ffbb00;
    border-radius: 4px;
    line-height: 1.7;
    cursor: pointer;
    font-size: 0.9231rem;
    transition: 0.2s;
}

.send:hover {
    background: transparent;
    color: #ffbb00;
}

.title {
    font-size: 21px;
    line-height: 24px;
    font-family: "Archivo", sans-serif;
    font-weight: 600;
    color: #1a0a1e;
    text-decoration: none;
    cursor: pointer;
}

.title:hover {
    color: #96caa0;
    transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
}


/*TEMPORAL*/

footer {
    margin-top: 20%;
}

.contenedor {
    width: 80%;
    margin: auto;

}

.card {
    display: flex;
    gap: 3rem;
    margin-top: 80px;
    position: relative;
    padding-left: 100px;
    align-items: center;
    padding-top: 1rem;

}

.card::before {
    content: "";
    width: 2px;
    height: 140%;
    background-color: #ebebeb;
    position: absolute;
    left: 22px;
    top: 0;
    z-index: -1;
}

.divcard>div>p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    /* or 133% */
    letter-spacing: 0.02em;
    /* Black */
    color: #000000;
    opacity: 0.7;
}

.event-img a {
    display: flex;
    align-items: center;
    overflow: hidden;
    border-radius: .4rem;

}

.img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);

}

/* .img:hover {
    transform: scale(1.1);
} */

.specificInfo {
    display: flex;
    align-items: center;
    font-size: 15px;
    font-weight: 400;
    gap: 30px;
}

.location {
    margin-top: 1px;
    width: 12px;
    height: 12px;
    filter: invert(92%) sepia(13%) saturate(856%) hue-rotate(69deg) brightness(85%) contrast(84%);
}

.cardtext p {
    font-family: 'Open sans', sans-serif;
    font-size: 15px;
    word-spacing: 1px;
    line-height: 23px;
    text-align: justify;
    word-break: break-all;
}

.backImage {
    background: url(https://demo.gloriathemes.com/eventchamp/demo/wp-content/uploads/2022/01/titlebar-bg.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    filter: brightness(50%);
}

.generalContainer {
    margin-bottom: 8rem;
    display: flex;
    flex-direction: column;
    position: relative;
}

.first {
    display: flex;
    flex-direction: column;
    position: relative;
}

.first1 {
    gap: 1rem;
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat';
}

.first-text {
    display: flex;
    gap: 1rem;
    font-family: 'Roboto';
    font-weight: bold;
    position: relative;
}

.p2 {
    font-family: 'Montserrat';
}

.first-text>button {
    max-width: 15rem;
}

.hr {
    width: 140px;
    height: 6px;
    left: 69px;
    top: 23px;
    background: #484848;
    border-radius: 3px;
}

.button {
    display: flex;
    font-weight: 700;
    color: #96caa0;
    text-decoration: underline;
    transition: ease-in-out 0.3s;
}



.line-button {
    max-width: max-content;
    align-items: center;
    background: none;
    color: #484848;
    font-weight: bold;
    align-self: center;
    border-radius: 1rem;
    font-family: 'Montserrat'


}

.button-eventos {
    background-color: #8AB694;
    border: none;
    padding: 15px 40px;
    border-radius: 30px;
    font-style: normal;
    font-weight: 500;
    font-size: 19px;
    line-height: 23px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 2%;
}

.button-eventos:hover {
    background-color: #484848;
    user-select: none;
    text-decoration: none;
    transition: ease-in-out 0.3s;
    cursor: pointer;
}

.first-text>button:hover {
    background-color: #484848;
    user-select: none;
    text-decoration: none;
    transition: ease-in-out 0.3s;
}

.buttons {
    background-color: #8AB694;
    border: none;
    padding: 20px 50px;
    border-radius: 30px;
    font-style: normal;
    font-weight: 700;
    font-size: 19px;
    line-height: 23px;
    text-align: center;
    color: #FFFFFF;
    max-width: 22rem;
}

.buttons:hover {
    background-color: #484848;
    color: #FFFFFF;
    transition: ease-in-out 0.5s;
    user-select: none;
    text-decoration: none;
    cursor: pointer;
}


.buttonxd:hover {
    background-color: #8AB694;
    color: #FFFFFF;
    font-size: 18px;
}

.cardtext {
    display: flex;
    flex-direction: column;
    justify-items: space-between;
    justify-content: space-between;
    font-family: 'Roboto';
    /* margin-bottom: 4rem; */
    justify-items: center;
    gap: 1rem;
}

.event-time {
    width: 45px;
    height: 45px;
    line-height: 16px;
    text-align: center;
    background: #ffbb00;
    color: #ffffff;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 0;
    font-size: 12px;
    font-family: "Archivo", sans-serif;
    font-weight: 600;
    display: inline-block;
    padding: 8px;
}

.day-time {
    font-size: 16px;
}

.second {
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    gap: 10rem;
}

.second2>p:first-child {
    font-size: 2rem;
    font-weight: bold;
    max-width: 30rem;
    font-family: 'Roboto';
    font-style: normal;


}

.second2 {
    gap: 2rem;
    display: flex;
    flex-direction: column;
    margin-left: 5rem;
    font-family: 'Montserrat';
}


ul.pagination {
    display: inline-block;
    padding: 0;
    margin: 0;
}

ul.pagination li {
    display: inline;
}

ul.pagination li a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 5px;
}

ul.pagination li a.active {
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
}

ul.pagination li a:hover:not(.active) {
    background-color: #ddd;
}

ul.pagination {
    display: flex;
    justify-content: center;
    margin: 50px 0;
}

#xD {
    display: flex;
}

.filtros {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.xDfiltros {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 2rem;
}

.xDfiltros>div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.ordenar {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.containerFiltros {
    display: flex;
    justify-content: center;
    gap: 2rem;
    width: 100%;
    flex-wrap: wrap;
    margin-right: auto;
    margin-left: auto;
}


@media (max-width: 1276px) {
    .contenedor {
        width: 85%;
    }
}

@media (max-width: 1000px) {
    .card {
        display: flex;
        flex-direction: column;
    }

}

@media (max-width: 530px) {
    .card {
        padding-left: 60px;
    }


}

/* 
@media (max-width: 768px) {
    .contenedor {
        grid-template-columns: 1fr;
    }

    .card {
        flex-direction: column;
    }
}

.notunderline {
    text-decoration: none;
}

@media (max-width: 768px) {
    .contenedor-botones {
        display: flex;
        gap: 1rem;
        flex-direction: column;

    }
} */

.line-button:hover {
    background-color: #8AB694;
    color: white;
}

.aña {
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 26px;
    color: #000000;
    font-family: 'Montserrat';
}

.menu_desplegable {
    background: white;
}

/*cards new*/

.container_cards {
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: max-content;
    /* gap-c: 1rem; */
    row-gap: 3rem;
    column-gap: 1rem;
}

.img_event {
    max-width: 100%;
    height: 40vh;
    vertical-align: middle;
    border-style: none;
    /* width: 340px;
    height: 200px; */
}

p {
    font-size: 0.8rem;
    line-height: 0.9231rem;
    color: #777777;
    font-family: "Poppins";
}

.img_container_cards {
    position: relative;
    /* border-top-left-radius: 5px;
    border-top-right-radius: 5px; */
    overflow: hidden;
}

.content_cards {
    /* padding: 1.2rem; */
    display: flex;
    flex-direction: column;
    gap: 1rem;

    background: #FFFFFF;
    position: relative;
    padding: 25px 30px;
    overflow: hidden;

}

.info_content_cards {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    gap: 2rem;
}

.date_cards {
    display: flex;
    gap: 10px;
    align-items: center;
}

.icons {
    display: flex;
    gap: 2rem;
}

.icons_div {
    display: flex;
    padding: 10px;
    align-items: center;
}

.title_cards {
    color: #222222;
    text-decoration: none;
    font-size: 1.462rem;
    line-height: 1.4;
    font-weight: 700;
    font-family: "Poppins";
    transition: all .3s ease-in-out;
}

.category_event {
    padding: .6rem 1.2rem;
    border-radius: 25px;
    background-color: #ffbb00;
    color: white;
    font-size: 0.8rem;
    text-transform: uppercase;
    font-weight: 500;
    font-family: "Poppins";
}

.img_container_a {
    position: relative;
    height: 100%;
    width: 100%;
    display: block;
}

.title_cards:hover {
    color: #ffbb00;
}

.icon_cards {
    filter: invert(87%) sepia(33%) saturate(7473%) hue-rotate(2deg) brightness(108%) contrast(103%);
}

.cards_new {
    border: 1px solid #EAEAEA;
    /* border-top: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px; */
    overflow: hidden;
    border-radius: 10px;
}

.img_background {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 30vh;
    max-width: 100%;
    transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.img_background:hover {
    transform: scale(1.15);

}

@media (max-width: 990px) {

    .container_cards {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 790px) {

    .container_cards {
        grid-template-columns: 1fr;
    }
}

input[type=checkbox] {
    height: 0;
    width: 0;
    visibility: hidden;
}

label {
    cursor: pointer;
    text-indent: -9999px;
    width: 100px;
    height: 50px;
    background: grey;
    display: block;
    border-radius: 100px;
    position: relative;
}

label:after {
    content: '';
    position: absolute;
    top: 5px;
    left: 5px;
    width: 40px;
    height: 40px;
    background: #fff;
    border-radius: 90px;
    transition: 0.3s;
}

input:checked+label {
    background: #ffbb00;
}

input:checked+label:after {
    left: calc(100% - 5px);
    transform: translateX(-100%);
}

label:active:after {
    width: 130px;
}

.generalContainer {
    align-items: center;
}

.icon_toogle {
    width: 60px;
    height: 60px;
    filter: invert(75%) sepia(82%) saturate(2969%) hue-rotate(3deg) brightness(109%) contrast(102%);


}

.toogle_switch {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
}

.item_active {
    opacity: 1;
    display: flex;
}

.item_disabled {
    opacity: 0;
    display: none;
}

.container_users {
    width: 80%;
    margin: 0 auto;
}