@import url('https://fonts.googleapis.com/css2?family=Athiti:wght@400;500;600&family=Inter:wght@500&family=Montserrat:ital,wght@0,300;0,600;0,800;1,400;1,700&family=Poppins:ital,wght@0,400;0,500;1,400&family=Raleway&family=Roboto:ital,wght@0,500;1,100;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Subrayada&family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Subrayada&family=Roboto:wght@100&family=Sen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@400;800&display=swap');


* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}

.alertDivEmpty {
    padding: 15px;
    background-color: #f44336;
    color: white;
    border-radius: 9.62567px;
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

/*:::Boton-Modal:::*/
/* .boton-modal{
    padding: 40px;
    background-color: #fff;
} */
.boton-modal label {
    border-radius: 23px;
    padding: 10px;
    padding: 10px 25px;
    background-color: #484848;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    text-decoration: none;
    transition: all 500ms ease-out;
}

/*:::Fin Boton-Modal:::*/

/*:::Ventana Modal:::*/
#btn-modal {
    display: none;
}

#XModal {
    height: 40px;
    width: 40px;
    cursor: pointer;
    filter: brightness(0) saturate(100%) invert(72%) sepia(9%) saturate(100%) hue-rotate(177deg) brightness(87%) contrast(86%);
    transition: all 500ms ease-out;

}

#XModal:hover {
    filter: brightness(0) saturate(100%) invert(99%) sepia(5%) saturate(510%) hue-rotate(212deg) brightness(117%) contrast(100%);
}

#arrorBack {
    display: none;
    height: 40px;
    width: 40px;
    cursor: pointer;
    filter: brightness(0) saturate(100%) invert(72%) sepia(9%) saturate(100%) hue-rotate(177deg) brightness(87%) contrast(86%);
    transition: all 500ms ease-out;
}

#arrorBack:hover {
    filter: brightness(0) saturate(100%) invert(99%) sepia(5%) saturate(510%) hue-rotate(212deg) brightness(117%) contrast(100%);

}


.headerModal>h1 {
    flex-basis: 100%;
    text-align: center;
}

.reportes {
    padding: 1rem 0;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    padding-left: 0.5rem;
    cursor: pointer;
}

.reportes:hover {
    background-color: #3a3b3c;
}

#flechitaModel {
    width: 30px;
    height: 30px;
    filter: brightness(0) saturate(100%) invert(70%) sepia(12%) saturate(77%) hue-rotate(169deg) brightness(89%) contrast(85%);
}


.container-modal {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(0 0 0 / 40%);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 100;
    display: none;
    font-family: 'Montserrat';
}

/* #btn-modal:checked~.container-modal {
    display: flex;
} */

.content-modal {
    width: 100%;
    max-width: 50vw;
    height: 90%;
    background-color: #242526;
    border-radius: 15px;
    color: white;
    padding-bottom: 1rem;
    overflow-x: hidden;
}

.container-modal p {
    color: #b0b3b8;
}

.container-modal h2 {
    font-family: inherit;
}

/* .content-modal h2 {
    margin-bottom: 15px;
} */

.contentModel {
    padding: 15px 0px;
    border-top: 1px solid #2f3031;
    border-bottom: 1px solid #2f3031;
    padding: 1rem;
    display: flex;
    width: 300%;
    gap: 2rem;
    transition: all .5s ease;
    /*transform: translateX(-66%);*/
}

.headerModal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.content-modal .btn-cerrar label {
    padding: 7px 10px;
    background-color: #5488a3;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    transition: all 300ms ease;
}


.cerrar-modal {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.contentModelReportes {
    width: 100%;
}

.sendReport {
    width: 100%;
    padding: 0 1rem;
}

@media screen and (max-width:800px) {
    .content-modal {
        width: 90%;
    }
}

/*:::Fin Ventana Modal:::*/


.hr {
    width: 140px;
    height: 6px;
    left: 69px;
    top: 23px;
    background: #484848;
    border-radius: 3px;
}

.h2-start {
    margin-bottom: 3rem;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    line-height: 50px;
    text-align: center;

    color: #000000;

}

.container-text1 {
    display: grid;
    background-color: #E1F2E4;
    grid-template-columns: 0.5fr 1fr;
    max-width: 88rem;
    align-items: stretch;
}

.container-text>img {
    width: 1px;
}

.container-perfil {
    margin: 2rem;
    display: flex;
    align-items: center;
    gap: 2rem;
    justify-content: space-between;
}

.container-perfil>img {
    width: 70px;
    height: 70px;
}

#profile-name {
    font-weight: bold;
    font-size: 20px;
}

.container-descripcion {
    margin: 2rem;
    margin-top: 45px;
}

.bold {
    font-weight: bold;
}

.container-text2 {
    margin: 2.1rem;
}

.general {

    display: flex;
    justify-content: center;
    font-family: 'Inter', sans-serif;

}

.caminocfp {
    margin-top: 4rem;
}

.container-text2>ul>li {
    list-style: circle;
}

.container-text2>ul {
    margin: auto;
    list-style-type: circle;
    margin: 2rem;
}

.nuevoinicio {
    margin: 7rem;
    font-family: 'Roboto', sans-serif;
}

.buttonxd {
    background-color: #484848;
    border: none;
    padding: 15px 20px;
    border-radius: 30px;
    font-style: normal;
    font-weight: 490;
    font-size: 19px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
    transition: all 500ms ease-out;
    cursor: pointer;
    border: none;
}

.buttonxd:hover {
    background-color: #8AB694;
}


.iniciodelinicio {
    display: flex;
    justify-content: space-between;
    width: 100%;



}

.iniciocfp {
    display: flex;
    flex-direction: column;

}

.iniciocfp>form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
}

.iniciocfp>form>div {
    display: flex;
    flex-direction: column;
    max-width: 20rem;

}

/* img {
    max-width: 100%;
} */

.form5>img {
    height: 40rem;

}

.form3>p {
    margin-bottom: 2rem;
}

#imgProfile {
    width: 70px;
    height: 70px;
    max-width: 100%;
    border-radius: 50%;
}

.userData {
    display: flex;
    align-items: center;
    gap: 1rem;
}


.ul-reporte {
    padding-left: 2rem;
}

.li-report {
    font-size: .9375rem;
    color: #b0b3b8;
    padding: 0.4rem 0;
    list-style: disc;
}

.button-report {
    background-color: #484848;
    border: none;
    padding: 10px 38px;
    border-radius: 19px;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 23px;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
    width: 100%;
    text-align: center;
    transition: all .5s ease;
}

.sendReport {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.button-report:hover {
    /* transform: scale(1.1); */
    background-color: #666161;

}

.MensajeReport {
    width: 100%;
}

#checkIcon {
    height: 70px;
    width: 70px;
    filter: brightness(0) saturate(100%) invert(32%) sepia(90%) saturate(1677%) hue-rotate(103deg) brightness(95%) contrast(110%);
}

.contentMensaje {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 1rem;
    height: 100%;
    justify-content: space-around;
}

#ModalOpen {
    border-radius: 23px;
    padding: 10px;
    padding: 10px 25px;
    background-color: #484848;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    transition: all 500ms ease-out;
    cursor: pointer;
    border: none;
}

#ModalOpen:hover {
    background-color: #8AB694;
}


.ModalOpen {
    border-radius: 23px;
    padding: 10px;
    padding: 10px 25px;
    background-color: #484848;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    transition: all 500ms ease-out;
    cursor: pointer;
    border: none;
}

.ModalOpen:hover {
    background-color: #8AB694;
}


#Cancelar {
    border-radius: 23px;
    padding: 10px;
    padding: 10px 25px;
    background-color: red;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    transition: all 500ms ease-out;
    cursor: pointer;
    border: none;
}

#Cancelar:hover {
    background-color: rgb(189, 23, 23);
}

.inscribirseCancelar {
    margin: 2.1rem;
}

/*Modal inscripcion*/

.MensajesExtra {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

@media (max-width: 485px) {
    .container-perfil {
        flex-direction: column;
    }
}

@media (max-width: 720px) {
    .container-text1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0rem 2rem;

    }

    .iniciodelinicio {
        flex-direction: column;
        align-items: center;
    }

    .nuevoinicio {
        margin: 1rem;
    }

    .iniciocfp {
        align-items: center;
        gap: 2rem;
    }

    .iniciocfp>form {
        gap: 2rem;
        margin-bottom: 2rem;
    }

    .iniciocfp>form>input[type="submit"] {
        align-self: center;
    }
}

.coment {
    padding: 10px;
}

.box-container-coments {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: flex-start;
    width: 85%;
    margin: 4rem auto;
}

.box-all-coments {
    width: 85%;
    margin: 1rem auto;
    font-size: 15px;
    line-height: 24px;
    font-family: "Archivo", sans-serif;
    font-weight: 600;
    color: #1a0a1e;
    text-decoration: none;
}

.formComents {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
}

.send {
    background-color: #ffbb00;
    outline: none;
    padding: 11.5px 30px;
    font-weight: 500;
    color: #FFFFFF;
    border: 1px solid #ffbb00;
    border-radius: 4px;
    line-height: 1.7;
    font-size: 0.9231rem;
    transition: 0.2s;
}

.send:hover {
    background: transparent;
    color: #ffbb00;
}

.textarea {
    font-size: 15px;
    font-family: "Archivo", sans-serif;
    color: #1a0a1e;
    text-decoration: none;
    padding: 1rem;
    width: 75%;
    resize: none;
}

.titleComents {
    font-size: 21px;
    line-height: 24px;
    font-family: "Archivo", sans-serif;
    font-weight: 600;
    color: #1a0a1e;
    text-decoration: none;
}

.img-coment {
    border-radius: 50%;
    height: 60px;
    width: 60px;
}

.coment {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.body-coment {
    flex-basis: 80%;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.body-coment>p {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    color: #9A9A9A;
}

.menu_desplegable {
    background: white;
}