.dropdown-menu {
    list-style: none;
    display: none;
    flex-direction: column;
    position: relative;
    right: 260px;
    top: 105%;
    background: gray;
    max-width: 300px;
    box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 20%);
    padding: unset;
    border-radius: 10px;
    /* border: 0.125px solid var(--second-bg-color);*/
}

.dropdown-menu-content {
    max-height: 500px;
    overflow-y: auto;
}

.dropdown-menu-item {
    width: 100%;
}

.dropdown-menu-link {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    /* color: var(--main-color); */
}

.dropdown-menu-link div {
    min-width: 82px;
    height: 50px;
    position: relative;
}

.dropdown-menu-link i {
    font-size: 1.25rem;
    /* color: var(--second-color); */
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.dropdown-menu-link span {
    font-size: 15px;
    width: 298px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.dropdown-menu-link span>span {
    font-size: 10px;
}

.dropdown-menu-link:hover {
    cursor: pointer;
    /* background: var(--second-bg-color); */
}

.dropdown-menu-header {
    padding: 20px;
    text-align: center;
    /* border-bottom: 1px solid var(--second-bg-color); */
}

.dropdown-menu-footer {
    padding: 20px;
    text-align: center;
    /* border-top: 1px solid var(--second-bg-color); */
}

.dropdown-expand {
    display: inline-flex;
}

/* .img-perfil {
    background-image: url(/LEAFING/Crea-J-2022/client/public/assets/user_images/profile_images/1662047356_f44b968….jpg);
    background-size: contain;
    position: relative;
} */

.dropdown-toggle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;

}