.dropdown-menu {
    list-style: none;
    display: none;
    flex-direction: column;
    position: relative;
    right: 260px;
    top: 110%;
    max-width: 300px;
    box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 20%);
    padding: unset;
    border-radius: 10px;
    /* border: 0.125px solid var(--second-bg-color);*/
    background-color: rgb(52 54 56);
    width: 300px;
}

.dropdown-menu-content {
    max-height: 500px;
    overflow-y: auto;
}

.dropdown-menu-item {
    width: 100%;
    padding: 1rem;
}

.dropdown-menu-link {
    /* display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none; */
    color: #e8eaed;
    /* color: var(--main-color); */
}

.dropdown-menu-link div {
    min-width: 82px;
    height: 50px;
    position: relative;
}

.dropdown-menu-link i {
    font-size: 1.25rem;
    /* color: var(--second-color); */
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.dropdown-menu-link span {
    font-size: 15px;
    width: 298px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.dropdown-menu-link span:hover{
    color: white;
}

.dropdown-menu-link span>span {
    font-size: 10px;
}

.dropdown-menu-link:hover {
    cursor: pointer;
    /* background: var(--second-bg-color); */
}

.dropdown-menu-header {
    padding: 20px;
    text-align: center;
    /* border-bottom: 1px solid var(--second-bg-color); */
}

.dropdown-menu-footer {
    padding: 20px;
    text-align: center;
    /* border-top: 1px solid var(--second-bg-color); */
}

.dropdown-expand {
    display: inline-flex;
    z-index: 999;
}

/* .img-perfil {
    background-image: url(/LEAFING/Crea-J-2022/client/public/assets/user_images/profile_images/1662047356_f44b968….jpg);
    background-size: contain;
    position: relative;
} */

.dropdown-toggle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    transition: box-shadow .2s ease-in-out;
}

.dropdown-toggle:hover {
    box-shadow: 0 0 0 3px #0000001f;
}

.img_perfil_menu {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.img_perfil_menu_notifications {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.name_perfil {
    font-size: 15px !important;
    letter-spacing: .1px;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #e8eaed;
    font-weight: 800;
    margin-top: 1rem;

}

.correo_perfil {
    color: #5f6368;
    font: 400 14px/20px Roboto, Helvetica, Arial, sans-serif;
    letter-spacing: .2px;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
    white-space: nowrap;
    color: #e8eaed;
    text-align: center;
    font-size: 15px !important;
    margin-bottom: .8rem;
}

.data_user {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button_perfil {
    border-radius: 23px;
    border: none;
    padding: .3rem 1rem;
    background-color: transparent;
    font-size: 15px;
    letter-spacing: 1px;
    font-weight: 400;
    color: #fff;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    border: 1px solid white;
    width: 100%;
    cursor: pointer;
}

.link_close {
    /* border-radius: 23px; */
    border: none;
    padding: .3rem 1rem;
    background-color: transparent;
    font-size: 15px;
    letter-spacing: 1px;
    font-weight: 400;
    color: #fff;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    border: 1px solid #ffffff4f;
    /* width: 100%; */
}

.link_close:hover {
    color: white;
}

.close_session {
    text-align: center;
    border-top: 1px #ffffff6b solid;
    border-bottom: 1px #ffffff6b solid;
    margin-bottom: 1rem;
}

.notificationxD {
    background-image: url(/LEAFING/Crea-J-2022/client/public/assets//iconos/notifications.svg);
    background-repeat: no-repeat;
    background-position: center;
    top: 100%;
}

.notificationxD:hover {
    box-shadow: none;
}

.number_notification {
    font-size: .6rem;
    padding: 2px 4px;
    font-weight: 300;
    color: #fff;
    background: red;
    border-radius: 5px;
}

.notificationUl {
    top: 90%;
    right: 370px;
    max-width: 400px;
    width: 400px;
}

.scrollbar-hover::-webkit-scrollbar {
	display: none;
}

.scrollbar-hover:hover::-webkit-scrollbar {
	display: block;
}

.overlay-scrollbar::-webkit-scrollbar {
	width: 9px;
	height: 9px;
}

.overlay-scrollbar::-webkit-scrollbar-thumb {
	background-color: rgba(0, 0, 0, 0.4);
	border-radius: 10rem;
	border: 1px solid var(--main-bg-color);
}

.overlay-scrollbar::-webkit-scrollbar-track-piece:start {
	background: transparent;
}

.overlay-scrollbar::-webkit-scrollbar-track-piece:end {
	background: transparent;
}

.notifications_title{
    color: white;
}

.menu_notification_a{
    display: flex;
    gap: 1rem;
}