/* .container-modal {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    justify-content: center;
    align-items: center;
    z-index: 100;
    display: none;
    font-family: 'Montserrat';
}


.container-modal p {
    color: #b0b3b8;
}

.container-modal h2 {
    font-family: inherit;
}

.content-modal {
    height: max-content;
    background-color: #23242D;
    border-radius: 15px;
    color: white;
    padding-bottom: 1rem;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}


.headerModal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.headerModal>h1 {
    flex-basis: 100%;
    text-align: center;
    margin: 0;
}

.contentModel {
    padding: 15px 0px;
    border-top: 1px solid #2f3031;
    border-bottom: 1px solid #2f3031;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    transition: all .5s ease;
}


.XModal {
    height: 40px;
    width: 40px;
    cursor: pointer;
    filter: brightness(0) saturate(100%) invert(72%) sepia(9%) saturate(100%) hue-rotate(177deg) brightness(87%) contrast(86%);
    transition: all 500ms ease-out;

}

.XModal:hover {
    filter: brightness(0) saturate(100%) invert(99%) sepia(5%) saturate(510%) hue-rotate(212deg) brightness(117%) contrast(100%);
}

.footerModel {
    padding: 1rem 0;
    display: flex;
    justify-content: flex-end;
    gap: 1.5rem;
}

.inputCategory {
    width: 100%;
    padding: 0.5rem;
    border-radius: 5px;
    background-color: #484848;
    border: none;
    outline: none;
    color: white;
    font-size: 16px;
}

.inputCategory:hover {
    border: none;
}

.contentModel {
    overflow-x: auto;
}

.emptyReports {
    text-align: center;
}

.hideModel {
    display: none;
}

.linkxd {
    color: white;
}

.buttonNew {
    background-color: #484848;
    border: none;
    padding: 12px 25px;
    border-radius: 10px;
    font-weight: 800;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
    font-family: 'Montserrat';
    transition: all .3s ease-in-out;
} */